---
BasedOnStyle: Google
BreakAfterAttributes: Always
AlwaysBreakAfterReturnType: None
AlignAfterOpenBracket: BlockIndent
BinPackParameters: AlwaysOnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
...
